<sh-modal sh-title="Connect">
    <form novalidate name="connectForm" class="form-entry form-entry--modal" ng-controller="ConnectController as vm">
        <div class="form-entry form-entry--modal">
            <div class="underlined-headline">
                You Will Be Home Soon, Tell Us<br>
                who You Are!
            </div>
        </div>

        <div class="form-entry form-entry--modal row">
            <button class="btn-secondary six columns"> Twitter </button>
            <button class="six columns"> Github </button>
        </div>

        <div class="form-entry form-entry--modal">
            <div class="divider"> OR </div>
        </div>

        <div class="form-entry">
            <input name="email" type="email" placeholder="Email" ng-model="vm.email" ng-required="true">
        </div>

        <div class="form-entry">
            <input type="password" placeholder="Password" ng-model="vm.password" ng-required="true">
        </div>

        <div class="form-entry alert error-alert" ng-if="vm.error">
            <i class="fa fa-info-circle"></i> {{ vm.error }}
        </div>

        <div class="form-entry">
            <button ng-click="vm.login()"
                ng-disabled="connectForm.$invalid || vm.isProcessing"
                class="text-uppercase"
                ng-class="{'btn--processing': vm.isProcessing}">
                <span ng-hide="vm.isProcessing">Enter</span>
                <i class="fa fa-spinner fa-pulse" ng-show="vm.isProcessing"></i>
            </button>
        </div>

        <div class="form-entry row">
            <div class="six columns">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>

            <div class="six columns text-right">
                <a href="#" sh-open-modal="reset">Forgot it 😅</a>
            </div>
        </div>
    </form>
</sh-modal>