<div class="overlay animated fadeIn" ng-if="vm.modal.isOpen">
    <div class="modal joining-modal animated fadeIn" >

        <header class="modal__header">
            {{ vm.modal.title || 'Loading...'}}
            <i class="fa fa-times-circle modal__header__icon" ng-click="vm.close()"></i>
        </header>

        <div ng-if="vm.modal.templateUrl"
            ng-include="vm.modal.templateUrl"
            onload="vm.onLoad()"
            class="modal__body" >
        </div>

        <div ng-if="!vm.states.isLoaded"
            class="modal__body modal__body--loading" >
            <i class="fa fa-refresh fa-spin fa-4x"></i>
        </div>
    </div>
</div>