html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { font-family: 'Lato', sans-serif; }

textarea:focus, input:focus{ outline: 0; }

a {
    color: $iron;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}