/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
>Inputs
>Buttons
>Checkboxes
>Labels
>Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* >Inputs */

input[type="text"],
input[type="password"] {
    border: $iron 1px solid;
    border-radius: $radius;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 300;
    display: block;
}

.input-feedback {
    padding: 8px 15px;
    padding-right: 20px; /* Make room for the icon */
    border-radius: 0 0 $radius $radius;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    position: relative;
}

.input-feedback-icon {
    position: absolute;
    right: 8px;
    font-size: 14px;
}

.has-error { @include input-feedback-variation($error); }
.has-success { @include input-feedback-variation($success); }
.has-warning { @include input-feedback-variation($warning); }

/* >Buttons */

input[type="button"],
input[type="submit"],
button {
    border: none;
    border-radius: $radius;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: block;
    text-align: center;
    @include btn-variation($iron, $iron-shadow);

    &:active {
        position: relative;
        top: 2px;
        box-shadow: none;
    }

    &:active:focus,
    &:focus {
        outline: 0;
    }
}

.btn--no-interactions {
    box-shadow: none;

    &:hover {
        top: 0px;
    }
}

.btn-primary { @include btn-variation($yellow, $yellow-shadow); }
.btn-success { @include btn-variation($success, $success-shadow); }
.btn-error { @include btn-variation($error, $error-shadow); }
.btn-warning { @include btn-variation($warning, $warning-shadow); }
.btn-secondary { @include btn-variation($secondary, $secondary-shadow); }
.btn-not-important { @include btn-variation($not-important, $not-important-shadow); }

/* >Checkboxes */

input[type="checkbox"] {
    margin: 6px;
    margin-left: 4px;
}

/* >Labels */

label {
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* >Forms */

.form-entry {
    margin-bottom: 15px;
    &:last-child { margin-bottom: 0px; }
}

.form-entry--modal {
    margin-bottom: 35px;
    &:last-child { margin-bottom: 0px; }
}

.form-entry input[type="text"],
.form-entry input[type="submit"],
.form-entry input[type="password"],
.form-entry input[type="button"],
.form-entry button {
    width: 100%;
}